.App {
  text-align: center;
  height: 100vh;
  /* background-color: #282c34; */

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #searchInput:focus .css-x6vx7i-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 25px;
} */
/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: white;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: wheat;
}
.MuiTextField-root{
  color: white;
} */

/* .MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-x6vx7i-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 25px;
} */
/* .MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl .css-x6vx7i-MuiInputBase-root-MuiOutlinedInput-root{
 border-radius: 23px;
}
.MuiOutlinedInput-notchedOutline .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
 border-radius: 23px;

}
.css-x6vx7i-MuiInputBase-root-MuiOutlinedInput-root .Mui-focused .MuiOutlinedInput-notchedOutline{
 border-radius: 23px;

} */
